.form {
  /* margin: 26px; */
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
  width: 500px;
  height: 213px;
  position: relative;
}

.label {
  margin: 5px;
  font-size: 18px;
}

.inputs {
  margin: 0 5px;
  padding: 5px 0;
  width: 170px;
  font-size: 18px;
  border: 1px solid black;
  margin-bottom: 5px;
}

::placeholder {
  font-size: 18px;
}

.checkboxText {
  font-size: 22px;
  margin-right: 5px;
}

.checkboxBtn {
  width: 14px;
  height: 14px;
}

.addButton {
  cursor: pointer;
  width: 530px;
  font-size: 20px;
  padding: 8px;
  position: absolute;
  left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.addButton:hover {
  background-color: #d9d9d9;
}
