.wrapper {
  /* display: flex; */
  justify-content: center;
  gap: 80px;
}

/* .cardsListDiv {
  // margin: 26px; 
  max-width: 450px;
} */

.listForCards {
  overflow-y: auto;
  max-height: 79.5vh;
}

.listForCards::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Define the thumb style */
.listForCards::-webkit-scrollbar-thumb {
  background: #5172c6;
  border-radius: 5px;
}
/* Define the track style */
.listForCards::-webkit-scrollbar-track {
  background-color: #c6c3ff;
  border-radius: 5px;
}
/* Define the button style */
.listForCards::-webkit-scrollbar-button {
  background-color: #6f95f4;
  border-radius: 5px;
  transition: background-color 4s;
}
/* Define the button style when being hovered over */
.listForCards::-webkit-scrollbar-button:hover {
  background-color: #5660b7;
}

::placeholder {
  font-size: 18px;
}
